@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  margin: 0;
  padding: 0;
  background-color: #fdfdfd;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
  --bgColor: #fbfbfb;
  --textColor: #202020;
  --maincolor: #6fa1bffc;
  --showbox: none;
  --borderColor: #bebebe60;
  --border: lightgray;
  --minimalShadow: 0 0px 1px 0 #66666666;
  --bgSide: #f7f7f7;
  --bgHover: #eeeeee;
  --pBlack: #202020;
  --shadowMin: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

  /*TG theme colors*/
  --bg-color: #fbfbfb;
  --bg-color: var(--tg-theme-bg-color, #fbfbfb);

  --text-color: #202020;
  --text-color: var(--tg-theme-text-color, , #202020);

  --hint-color: #bebebe60;
  --hint-color: var(--tg-theme-hint-color, #bebebe60);

  --link-color: #6fa1bffc;
  --link-color: var(--tg-theme-link-color, #6fa1bffc);

  --button-color: #6fa1bffc;
  --button-color: var(--tg-theme-button-color, #6fa1bffc);

  --button-text-color: #fbfbfb;
  --button-text-color: var(--tg-theme-button-text-color, #fbfbfb;);
}

:root {
  background-color: var(--bg-color);
  color: var(--text-color);
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica,
    'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Arial,
    sans-serif;
  background-color: #fdfdfd;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
}

body {
  color: var(--tg-theme-text-color);
  background-color: var(--tg-theme-bg-color);
}

h4,
h3 {
  font-weight: 500;
}

#root {
  width: 100%;
  height: 100%;
}

.theme {
  width: 100%;
  height: 100%;
  background-color: var(--bgSecond);
  color: var(--textColor);
}

p,
h1,
h2,
h3,
h4,
h5,
div,
nav,
button {
  margin: 0;
  padding: 0;
}

button {
  font: inherit;
  cursor: pointer;
  background: none;
  border: none;
  color: inherit;
}

input {
  font-family: inherit;
  background: none;
}

abbr {
  text-decoration: none;
}

.popup-content {
  margin: auto;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: gray;
  color: white;
  width: auto;
  padding: 5px;
  border: none;
  border-radius: 0;
}
.popup-arrow {
  background: none;
  display: none;
}
[role='tooltip'].popup-content {
  width: auto;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}
